// Global Foundation Settings
@import "settings";
@import "style";
@import "ui";


/*=================
	GENERAL AND MISC.
==================*/

p:not(.button){
	font-family: "Lato";
}
.video.large{
	min-width:100%;
	height:520px;
}
.footer {
  margin-top: 40px; }
  
  
h1{
	color:#000;
	font-style: italic;
}

.darkgrey{
	color:$dark-gray;
}


#content{
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

.sub-navigation{
	height:0px;
	overflow: hidden;
}

/*==================
  LOGO
==================*/
.logo{
  height:64px;
  width:64px;
  float: left;
  background: url('../img/logosprite.png');
  position: absolute;
  margin-left: -10px;
  background-color: #ff6a00;
  z-index: 6;
  -webkit-box-shadow: 0px 3px 15px #818181;
  -moz-box-shadow:0px 3px 15px #818181;
  box-shadow: 0px 3px 15px #818181;
  -webkit-transition: background-position 0.5s ease-in;
  -moz-transition: background-position 0.5s ease-in;    
  background-position: 0px 5px;
}
  
.logo:hover{
  -webkit-transition: background-position 0.5s ease-in;
  -moz-transition: background-position 0.5s ease-in;
  cursor: pointer;
  background-position: 0px -65px;
}/*=================
  Header
==================*/
header{
  .row{
    padding-left: 15px;
    padding-right: 15px;
  }
  position: fixed;
  top:0;
  z-index: 2;
  min-width: 100%;
  background: #fff;
  ul{
    list-style: none;
    li{
      list-style: none;
    }
  }
  
  a{
    font-family: "ProximaNovaA-Semibold","ProximaNovaA-Bold","ProximaNovaA-Regular",sans-serif;
  }
  
  


}

header#desktop{
  
  border-top:solid 5px #000;
  height: 65px;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:$shadow;
  margin-bottom: 30px;
  
  nav{
    margin-left: 100px;
    position: relative;
    bottom:4px;
    ul{
      li{
        float: left;
        a{
          font-size: 16px;
          text-transform: uppercase;
          color:$dark-gray;
        }
      }
    }
  }
  
  
  
#searchbox{
    height:35px;
    width:35px;
    background: $light-gray;
    float: right;
    margin-top: 10px;
    
}


#magnifing-glass{
    position: relative;
    left:28%;
    top:22%;
}

#circle{
    height:10px;
    width: 10px;
    border-radius: 40px;
    background: $light-gray;
    position: relative;
    top:2.5px;
    left:2.5px;
}

.outline{
    height:15px;
    width:15px;
    border-radius: 40px;
    background:#fff;
}

.post{
    -webkit-transform: rotateZ(45deg);
    height:4px;
    width:10px;
    position: relative;
    left:10px;
    bottom:2px;
    border-radius: 40px;
    background: #fff;
}

@media screen and (max-width:768px){
  #searchbox{
    height:35px;
    width:35px;
    margin-top:10px;
  } 
  
  #magnifing-glass{
      position: relative;
    left:25%;
    top:25%;
  }

  
};
  
}//end header desktop

/*==========================================
  DESKTOP HEADER MEDIA QUERY FIXES
===========================================*/
@media screen and (min-width:769px){  
  .divider{
    width:1px;
    height:20px;
    position: relative;
    top:2px;
    margin-left: 35px;
    margin-right: 35px;
    background: $dark-gray;
  }
}
/**
  This is a needed quick fix for ipads as the nav
  gets squashed at around 768px
*/
@media screen and(min-width:767px) and (max-width:768px){
  
  .divider{
    width:1px;
    height:20px;
    position: relative;
    top:5px;
    margin-left: 18px;

    margin-right: 18px;
    background: $dark-gray;
  }
  header#desktop{ 
    nav{
      margin-left: 90px;
      bottom:8px;
      ul{
        li{
          float: left;
          a{
            font-size: 14px;
          }
        }
      }
    }
    
  }//end header desktop
}//end media query check for header

/*========================================
  MOBILE HEADER
========================================*/
#mobile-menu{
  height: 400px;
  width:100%;
  background: $light-gray;
  position: absolute;
  z-index: 2;
  top:-999px;
}

.link{
  .link-wrap{
      padding-top: $mobilePadding;
      padding-left: 10px;
      padding-right: 10px;
      background: $light-gray;
      position: relative;
      z-index: 6;
      width: 300px;
  
      
      width: 100%;
      display: block;
      
      a{
        width:100%;
        display: inline-block;
        color:$dark-gray;
        font-family: "ProximaNovaA-Semibold",sans-serif;
        text-transform: uppercase;
        border-bottom: solid 5px $dark-gray;
      }
  }
  a{
      padding-bottom: $mobilePadding;
      padding-left: $mobilePadding;
      
  }
  .sub-nav:hover{
      cursor: pointer;
  }
  .sub-nav{
      height:65px;
      padding-left: 60px;
      margin-bottom: -5px;
    background: #333;
      border-top:solid 3px $dark-gray;
      border-bottom: solid 3px $dark-gray;
      position: relative;
      
      z-index: 1;
      a{
        color:#fff;
        font-family: "ProximaNovaA-Semibold",sans-serif;
        text-transform: uppercase;
        position: relative;
        top:30%;
      }
  }
}
header#mobile{
  border-top:solid 5px #000;
  z-index: 3;
  height: 65px;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow:$shadow;
  margin-bottom: 30px;
  #hamburger{
      height:45px;
      width:65px;
      position: relative;
      top:8px;
      z-index: 4;
      border-left:solid 1px $light-gray;
      overflow: hidden;
      //background: yellow;
      //background-image: url("../img/hamburgers.png");
      //background-size: 100%;
      float: right;
      //background-position: 10px 48px;
    
    #posts{
      position: relative;
      top:10px;
      left:20px;
    }
    .post{
      width:35px;
      height:5px;
      -webkit-transition:background 0.5s ease-in;
      -moz-transition: background 0.5s ease-in;
      background: $dark-gray;
      margin-bottom: 5px;
    }
    
    .orange{
      -webkit-transition:background 0.5s ease-in;
      -moz-transition: background 0.5s ease-in;
      background: $orange;
    }
    #post1{
      
    }
    
    
  }
  
  #hamburger:hover{
      cursor: pointer;    
  }
  
  
  
};//end header mobile
#mobile-search input{
    height:60px;
    background: #000;
    border-bottom: solid 5px $dark-gray;
    margin-top: -15px;
    color:#fff;
    padding-left: 20px;
   
    
  }//end mobile-search
  
  .mobile.searchbutton{
    height:60px;
    width:65px;
    background: $dark-gray;
    float: right;
    position: absolute;
    top:5px;
    right: 10px;
    border-bottom: solid 5px $orange;
    
  	 .magnifying-glass{
      position: relative;
	  margin-left: 15px;
	  margin-top: 12px;
      
       .outline{
		   height:30px;
		   width:30px;
		   border-radius: 40px;
		   background: #fff;
        
        .inner-circle{
           height:20px;
		   width:20px;
		   border-radius: 40px;
		   background: $dark-gray;
		    position: relative;
	        left:5.2px;
	        top:4.9px;
		  
        }
        
        .handle{
	      -webkit-transform: rotateZ(-45deg);
	        height:20px;
	        width:8px;
	        border-radius: 30px;
	        background: #fff;
	      
	       position: relative;
	       left:25px;
        }
        
      }
      
      

      
     }   
 
  }