/*
Syntax error: Undefined variable: "$light-gray".
        on line 32 of sass/ui.scss

27: 	BUTTONS
28: ==================*/
29: 
30: .button.small.secondary{
31: 
32: 	background-color: $light-gray;
33:     color: $dark-gray;
34:     border:none;
35: }
36: 
37: .button.small.secondary:hover{

Backtrace:
sass/ui.scss:32
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/variable.rb:49:in `_perform'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/script/node.rb:40:in `perform'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `each'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/sass-3.2.7/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.2/lib/listen/multi_listener.rb:108:in `call'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.2/lib/listen/multi_listener.rb:108:in `on_change'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.2/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.2/lib/listen/adapter.rb:198:in `call'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.2/lib/listen/adapter.rb:198:in `report_changes'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.2/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/kindofsleepy/.rvm/gems/ruby-1.9.3-p286/gems/listen-0.7.2/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$light-gray\".\A         on line 32 of sass/ui.scss\A \A 27: 	BUTTONS\A 28: ==================*/\A 29: \A 30: .button.small.secondary{\A 31: \A 32: 	background-color: $light-gray;\A 33:     color: $dark-gray;\A 34:     border:none;\A 35: }\A 36: \A 37: .button.small.secondary:hover{"; }
