
{% extends "base.html" %}
{% block content %}
<div class="row" id="content">
    <div class="large-12 columns">
      <h2>Team One Site Website Redesign</h2>
      <p></p>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <h3>The Grid</h3>

      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p>This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <p>Six columns</p>
          </div>
        </div>
        <div class="large-6 columns">
          <div class="panel">
            <p>Six columns</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Four columns</p>
          </div>
        </div>
      </div>

      <h3>Buttons</h3>

      <div class="row">
        <div class="large-6 columns">
          <p><a href="#" class="small button">Small Button</a></p>
          <p><a href="#" class="button">Medium Button</a></p>
          <p><a href="#" class="large button">Large Button</a></p>
        </div>
        <div class="large-6 columns">
          <p><a href="#" class="small secondary button">Small Secondary</a></p>
          <p><a href="#" class="secondary medium button">Medium Secondary</a></p>
          <p><a href="#" class="large secondary button">Large Secondary</a></p>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <h4>Sidebar area</h4>
      <p>
      	This is a sidebar area
      </p>
      
      
      <h4>Work in progress</h4>
      <p>Once you've exhausted the fun in this document, you should check out:</p>
      <ul class="disc">
        <li><a href="http://team-one.github.io/animations/">Animations</a><br />All the studies and prototyping being put into the site so far</li>
		<li><a href="http://team-one.github.io/animations/resources.html"> Resources</a><br/>A working list of existing resources we plan to leverage in the construction of the new Team One website</li>
		
		
		<!--      <li><a href="/component-list.html">Components</a><br />Demonstrations of planned functionality</li>
   -->
      </ul>
      
      
      		<h4>Semi-Completed pages</h4>
		<p>These are some pages that have some initial structure in place. These should still
		all be considered works in progress</p>
		<ul class="disc">
        	<li><a href="/style-tile/leadership.html">Leadership</a><br/>This shows the exploration of the leadership page</li>
        	<li><a href="/style-tile/leadership-full.html">Leadership profile view</a><br/> This shows the exploration of the profile view for each 
        	individual person</li>
        
        </ul>
		
    </div>
    
    
    <!--type -->
    <div class="large-12 columns">
    	<h1> Headings and Copy </h1>
    	<hr/>
        <!--headings -->
        <h1>h1 This is a very large header</h1>
        <h2>h2 This is a large header</h2>
	    <h3>h3 This is a medium header</h3>
	    <h4>h4 This is a moderate header</h4>
	    <!--end headings-->
	    
	    
	    <!--sub headings -->
        <h1 class="subheader">h1 subhead</h1>
        <h2 class="subheader">h2 subhead</h2>
	    <h3 class="subheader">h3  subhead</h3>
	    <h4 class="subheader">h4 subhead</h4>
	    <!--end headings-->
	    
	    
	    <!-- body copy -->
	    <p>
	    	Conspiracy. We love it. Team One created a new trailer for 2K and 2K Marin’s launch of The Bureau: XCOM Declassified video game.   Set in 1962 during the height of the Cold War, The Bureau: XCOM Declassified trailer tells the story of the covert XCOM organization’s first encounter with the enemy. While video game
	    </p>
	    
	     <p class="darkgrey">
	    	Conspiracy. We love it. Team One created a new trailer for 2K and 2K Marin’s launch of The Bureau: XCOM Declassified video game.   Set in 1962 during the height of the Cold War, The Bureau: XCOM Declassified trailer tells the story of the covert XCOM organization’s first encounter with the enemy. While video game
	    </p>
	
	</div>
	<!-- end type -->
	
	
	<!-- Quote styles-->
	<div class="large-12 columns" id="pull-out-quotes">
		<h1>Quotation Styles</h1>
    	<hr/>
    	
    	<div class="quote">
    		<span class="left quote-mark large"></span>
			<h2 class="subheader quote">
			
			   Bacon ipsum dolor sit amet short loin pork chop leberkas, shank meatball t-bone sausage corned beef jerky hamburger ham hock drumstick pork chicken
			 	
			</h2>
			<span class="right quote-mark large"></span> 
    	</div><!--end quote-->
	</div>	
	<!-- end Quote styles-->
	


	<!--video-->
	<div class="large-12 columns">
    	<h1>Video</h1>
    	<hr/>
    	 <p>Regular Vimeo embed</p>
    	<div class="flex-video">	
    		<iframe src="http://player.vimeo.com/video/61680767" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div><!--end video-->
    	
    	
    
	</div>
	<!-- end video -->
	
	<!-- Breadcrumbs -->
	<div class="large-12 columns">
		<h1>Breadcrumbs</h1>
		<hr/>
		
		<ul class="breadcrumbs">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="unavailable"><a href="#">Gene Splicing</a></li>
			<li class="current"><a href="#">Cloning</a></li>
		</ul>
	
	</div>
	<!-- end breadcrumbs -->
	
	<!-- sections -->
	
	<div class="large-12 columns">
		<h1>Sections</h1>
		<hr/>
		
		
		<!-- vertical section-->
		 <div class="section-container vertical-nav" data-section="vertical-nav">
			 <section class="section">
                <p class="title"><a href="#">Section 1</a></p>
                <div class="content">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
              
              
              <section class="section">
                <p class="title"><a href="#">Section 2</a></p>
                <div class="content">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
		 
		 </div><!--end vertical section-->
		 
		 
		 <!-- horizontal section-->
		 <div class="section-container horizontal-nav" data-section="horizontal-nav" style="height: 50px;">
              <section class="section">
                <p class="title" style="left: 0px;"><a href="#">Section 1</a></p>
                <div class="content" style="left: -1px; top: 48px;">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
              <section class="section">
                <p class="title" style="left: 87px;"><a href="#">Section 2</a></p>
                <div class="content" style="left: 86px; top: 48px;">
                  <ul class="side-nav">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Link 1</a></li>
                  </ul>
                </div>
              </section>
              
              
            </div>
		 
		 <!--end horizontal section-->
		 
		 <!-- 
		 start tabs
		 NOTE : Tabs need Zepto specifically for some wierd reason
		-->
		<div class="section-container tabs" data-section="tabs">
			<section>
			  <p class="title" data-section-title><a href="#">Section 1</a></p>
			  <div class="content" data-section-content>
			    <p>Content of section 1.</p>
			  </div>
			</section>
			<section>
			  <p class="title" data-section-title><a href="#">Section 2</a></p>
			  <div class="content" data-section-content>
			    <p>Content of section 2.</p>
			  </div>
			</section>
		</div>
		<!--end tabs-->


</div>
		 
	<!--end sections -->
	
	
	<!--Form Elements-->
	<div class="large-12 columns">
    	<h1>Form Elements</h1>
    	<hr/>
		<form class="custom">
         
         <div class="row">
          <label for="checkbox1" class="checkbox-label"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> <span class="checkbox-label-content">Label for Checkbox</span></label>
		  <label for="checkbox2" class="checkbox-label"><input type="checkbox" id="checkbox2" CHECKED style="display: none;"><span class="custom checkbox checked"></span>  <span class="checkbox-label-content">Label for Checkbox</span></label>
		  <label for="checkbox3" class="checkbox-label"><input type="checkbox" CHECKED id="checkbox3" style="display: none;"><span class="custom checkbox checked"></span>  <span class="checkbox-label-content">Label for Checkbox</span></label>
	  
         </div>
        </form>
		
		
	</div>
	
	<!-- end Form Elements -->
  </div>
	
	<div class="footer row">
	
	  <footer>
      <div class="small-5 large-5 columns panel" style="background-color:#eed;">
        <h6><strong>Column 1</strong></h6>
        <p>Large-5 Grid Panel</p>
        <pre>#eed</pre>

      </div>

      <div class="small-3 large-3 columns panel" style="background-color:#eee;">
        <h6><strong>Column 2</strong></h6>
        <p>Large-3 Grid Panel</p>
        <pre>#eee</pre>

      </div>

      <div class="small-4 large-4 columns panel" style="background-color:#eef;">
        <h6><strong>Column 3</strong></h6>
        <p>Large-4 Grid Panel</p>
        <pre>#eef</pre>

      </div>
    </footer>

	



  

  
</div><!--end footer-->









{% endblock %}

        