/**
	Various SASS vars that can be used
*/
.center-align-text {
  position: absolute;
  text-align: center; }

@media screen and (max-width: 868px) {
  .center-align-text {
    width: 85%; } }
@media screen and (max-width: 700px) {
  .center-align-text {
    width: 70%; } }
.debug {
  border: solid 1px red; }

.about-section {
  margin-bottom: 100px; }

#about-intro {
  min-width: 100%;
  height: 500px;
  background-image: url("../img/about.jpg");
  background-color: #333; }
  #about-intro p {
    position: relative;
    top: 140px;
    background: rgba(255, 255, 255, 0.83);
    max-width: 900px;
    padding: 20px;
    left: 100px; }

#who-we-are {
  position: relative; }
  #who-we-are #content {
    width: 1024px;
    left: 50%;
    margin-left: -512px; }
    #who-we-are #content div {
      max-width: 400px;
      display: inline-block;
      vertical-align: top; }
      #who-we-are #content div img {
        margin-left: 100px;
        display: block; }

#agency-offerings {
  max-width: 1104px;
  margin: 0 auto; }
  #agency-offerings div {
    display: inline-block;
    max-width: 300px;
    margin-right: 60px; }
