@import "vars";
.mail-icon{
    height:20px;
    width:20px;
    background: #ffa600;
}
#map-and-contact{

}
.orange{
	color:$orange;
}
/*============================
	Contact Information
============================*/

#contact-information{
    border-bottom: solid 1px $light-gray;
    border-right: solid 1px $light-gray;
    padding-bottom: 20px;
}


.info-box div{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    
}


.info-box{
    border: solid 1px $dark-gray;
    padding: 20px;
    margin-bottom: 10px;
}


.button{
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	border: $dark-gray;
}
/*============================
	Social Media Information
============================*/
#social-media-information{
  // border-bottom: solid 1px $light-gray;
   border-right: solid 1px $light-gray;
   padding-top: 20px;
   height: 140px;
   h2{
	   text-transform: uppercase;
	   font-size: 120%;
	   font-weight: bolder;
   }
   
   .social-media{
	   margin-left: -4px;
	   height:80px;
   }
}	


/*============================
	Maps
============================*/

#maps{
	position: relative;
	
		
	
}
hr{
	background: $light-gray;
	color:$light-gray;
}
#map{
    height:300px;
    max-width:700px;
    padding: 20px;
}

/*============================
	Offices
============================*/
#offices{
	margin-left: 18px;

	.phone{
		color:$orange;
	}
	
	p{
		font-size:100%;
	}
	h2{
		font-size: 120%;
		text-transform: uppercase;
	}
}


@media screen and (max-width:900px){
	.info-box{
		width: 100%;
	}
	
	#contact-information{
		border: none;
	}
	h2{
		padding-bottom: 30px;
			border-bottom: solid 1px $orange;
			max-width: 100px;
	}
	.office{
		margin-top: 20px;
		h4{
			font-size: 150%;
			
		}
	}
	
	#maps{
		.button{
			width:100%;
			margin-top: 20px;
			margin-bottom: 20px;
			left: 0;
		}
	}
}

@media screen and (min-width:1024px){
	.info-box{
		max-width: 290px;
	}
	.office{
		display: inline-block;
		margin-right: 28px;
	}
	#maps{
		.button{
			left: 32%;
		}
	}
}