/*===========================
	For the full view for each person
============================*/
/**
	Various SASS vars that can be used
*/
.center-align-text {
  position: absolute;
  text-align: center; }

@media screen and (max-width: 868px) {
  .center-align-text {
    width: 85%; } }
@media screen and (max-width: 700px) {
  .center-align-text {
    width: 70%; } }
.debug {
  border: solid 1px red; }

/*====================
	LEADERSHIP
=======================*/
#leadership {
  max-width: 1024px;
  margin: 0 auto;
  position: relative; }

.leader {
  height: 240px;
  width: 214px;
  background: #333;
  display: inline-block;
  background-size: 100%;
  position: relative;
  margin-top: 40px;
  overflow: hidden; }
  .leader .content {
    display: none; }

.leader:hover {
  cursor: pointer; }

.caption {
  position: absolute;
  bottom: 5px;
  width: 210px;
  color: #fff;
  padding: 5px;
  padding-left: 8px;
  padding-top: 10px;
  bottom: -25px; }
  .caption div {
    padding: 5px; }

.caption-title {
  line-height: -10px;
  margin-bottom: 0px;
  font-size: 120%;
  max-width: 100px;
  text-transform: uppercase;
  color: #fff; }

.caption-subtitle {
  font-size: 80%;
  position: relative;
  top: 40px;
  text-transform: uppercase;
  color: #fff; }

/**==========================
	For the different
	types of views
	on the leadership page
============================*/
#leader-list-view {
  display: none; }
  #leader-list-view ul li {
    list-style: none; }

#content-box {
  height: 0px;
  overflow: hidden;
  width: 100%;
  position: relative; }
  #content-box .large.thumb {
    height: 200px;
    width: 200px; }

#logo.leader {
  background: #ff6a00; }

/**==========================
	Everyone's images
============================*/
#alastair_green {
  background-image: url("../img/leaders/alastair_green.jpg"); }
  #alastair_green .caption {
    bottom: -35px; }

#cait_drury {
  background-image: url("../img/leaders/cait_drury.jpg"); }

#chris_graves {
  background-image: url("../img/leaders/chris_graves.jpg"); }

#craig_rowley {
  background-image: url("../img/leaders/craig_rowley.jpg"); }

#elizabeth_brownsen {
  background-image: url("../img/leaders/elizabeth_brownsen.jpg"); }

#julie_michael {
  background-image: url("../img/leaders/julie_michael.jpg"); }

#kurt_ritter {
  background-image: url("../img/leaders/kurt_ritter.jpg"); }

#mark_miller {
  background-image: url("../img/leaders/mark_miller.jpg"); }

#michael_webb {
  background-image: url("../img/leaders/michael_webb.jpg"); }

#paul_mareski {
  background-image: url("../img/leaders/paul_mareski.jpg"); }

#paul_silverman {
  background-image: url("../img/leaders/paul_silverman.jpg"); }

#logo {
  background-image: url("../img/leaders/logo.png");
  height: 240px;
  width: 214px;
  background: #ff6a00;
  display: inline-block;
  background-size: 100%;
  position: relative;
  margin-top: 40px;
  overflow: hidden; }
  #logo img {
    position: absolute;
    left: 35%;
    border: none;
    top: 35%; }
