/*===========================
	For the full view for each person
============================*/
img {
  max-width: 100%; }

.button.large.transparent {
  background: #fff; }

h3 {
  font-style: italic; }

.social {
  float: right;
  position: relative;
  top: 40px; }

.social div {
  height: 40px;
  width: 40px;
  background: #333;
  display: inline-block; }

.spacer {
  width: 30px; }

#bio {
  margin-left: 40px; }

.post-set ul {
  list-style: none;
  margin-left: -20px; }
  .post-set ul li {
    list-style: none; }

#person {
  margin-top: 20px; }

#bio {
  padding-bottom: 200px;
  margin-top: 40px; }

.bio-section {
  margin-top: 40px; }

#leader-posts {
  margin-top: 30px; }
  #leader-posts hr {
    margin-bottom: 30px; }

.social-media li {
  background-image: url("../img/socialmedia.png");
  height: 40px;
  width: 40px;
  float: left;
  list-style: none;
  margin-right: 10px; }

.view-more {
  margin-left: 60px;
  position: relative;
  left: 30px; }

.content, .leader-content {
  display: none; }

/*===========================
	For the selected view 
	on the leadership page
============================*/
#content-box {
  height: 0px;
  overflow: hidden;
  width: 100%;
  position: relative; }
  #content-box .large.thumb {
    height: 200px;
    width: 200px;
    border-radius: 100px; }

/*====================
	LEADERSHIP
=======================*/
#leadership {
  max-width: 700px;
  margin: 0 auto; }

.leader {
  height: 140px;
  width: 140px;
  border-radius: 80px;
  background: #333;
  display: inline-block;
  background-size: 100%;
  margin-right: 10px;
  margin-top: 40px; }

.leader:hover {
  cursor: pointer; }

.leader-row {
  height: 200px;
  max-width: 700px; }

@media screen and (max-width: 768px) {
  .leader-row {
    margin-bottom: 100px; } }
.leader-content {
  display: none; }

.row-2 .wrap {
  max-width: 540px;
  margin: 0 auto; }

/*more specifics*/
#alastair_green {
  background-image: url("../img/leaders/alastair_green.jpg"); }

#cait_drury {
  background-image: url("../img/leaders/cait_drury.jpg"); }

#chris_graves {
  background-image: url("../img/leaders/chris_graves.jpg"); }

#craig_rowley {
  background-image: url("../img/leaders/craig_rowley.jpg"); }

#elizabeth_brownsen {
  background-image: url("../img/leaders/elizabeth_brownsen.jpg"); }

#julie_michael {
  background-image: url("../img/leaders/julie_michael.jpg"); }

#kurt_ritter {
  background-image: url("../img/leaders/kurt_ritter.jpg"); }

#mark_miller {
  background-image: url("../img/leaders/mark_miller.jpg"); }

#michael_webb {
  background-image: url("../img/leaders/michael_webb.jpg"); }

#paul_mareski {
  background-image: url("../img/leaders/paul_mareski.jpg"); }

#paul_silverman {
  background-image: url("../img/leaders/paul_silverman.jpg"); }

/**
	Used in the isotope demonstration. 
	Not really needed in prod.

	#leadership .leader{
		height:50px;
		width:50px;
	}
	.item {
		width: 50px;
		height: 50px;
		margin: 5px;
		float: left;

	}

	#leadership .leader.big {
	  width: 170px;
	  height: 110px;
	}
	
	#leadership .leader.creative{
		background: red;
	}
	
	#leadership .leader.account{
		background: green;
	}
	
	#leadership .leader.manager{
		background: blue;
	}
	
	*/
