@import "vars";

//some vars to make it a bit easier to style
$itemWidth:200px;
$itemHeight:200px;


/*========================
	General item styles
==========================*/

.work-item{
	height:$itemHeight;
	width:$itemWidth;	
	position: relative;	
}
	
.overlay{
    height:$itemHeight;
    width:$itemWidth;
    background: #ffa600;
    position: absolute;
    top:0;
}



/*========================
	FadeIn transition
==========================*/
.work-item .overlay.fadein{
    -webkit-transition: opacity $transitionTime ease-in;
    -moz-transition: opacity $transitionTime ease-in;
    opacity: 0;
}

.work-item:hover .overlay.fadein{
    -webkit-transition: opacity $transitionTime ease-in;
    -moz-transition: opacity $transitionTime ease-in;
    opacity: 1;
    cursor: pointer;
}



/*========================================
	left-to-right animation transition,
	abbreviated ltr
========================================*/
.work-item .overlay.ltr{
    -webkit-transition: width $transitionTime ease-in;
    -moz-transition: width $transitionTime ease-in;
    width: 0;
}

.work-item:hover .overlay.ltr{
    -webkit-transition: width $transitionTime ease-in;
    -moz-transition: width $transitionTime ease-in;
    width:$itemWidth;
    cursor: pointer;
}


/*========================================
	top-to-bottom animation transition
	abbreviated ttb
========================================*/
.work-item .overlay.ttb{
	-webkit-transition: height $transitionTime ease-in;
	-moz-transition: height $transitionTime ease-in;
	height:0;
}

.work-item:hover .overlay.ttb{
	-webkit-transition: height $transitionTime ease-in;
	-moz-transition: height $transitionTime ease-in;
	height:$itemHeight;
}