/**
	Various SASS vars that can be used
*/
.center-align-text {
  position: absolute;
  text-align: center; }

@media screen and (max-width: 868px) {
  .center-align-text {
    width: 85%; } }
@media screen and (max-width: 700px) {
  .center-align-text {
    width: 70%; } }
.debug {
  border: solid 1px red; }

.work-in-a-box.mini-work {
  -webkit-transition: width 0.5s ease-in, height 0.5s ease-in;
  -moz-transition: width 0.5s ease-in, height 0.5s ease-in;
  width: 1024px;
  height: 500px; }

.arrow {
  height: 20px;
  width: 20px;
  background: #ffa600;
  -webkit-transform: rotateZ(45deg);
  position: relative;
  top: 10px;
  z-index: -1; }

/*========================
	General item styles
==========================*/
.work-in-a-box {
  width: 200px;
  height: 200px;
  background: #ffa600;
  margin-right: 2px;
  margin-bottom: 2px; }
  .work-in-a-box div div:not(.arrow) {
    display: none; }

.large-item {
  height: 500px;
  width: 100%;
  background: #ffa600; }

.work-in-a-box-selected {
  width: 100%;
  height: 500px;
  background: #ffa600; }

.work-item {
  height: 200px;
  width: 200px;
  position: relative;
  background: #333;
  margin-right: 2px;
  margin-bottom: 2px; }

.overlay {
  height: 200px;
  width: 200px;
  background: #ffa600;
  position: absolute;
  top: 0; }

/*========================
	FadeIn transition
==========================*/
.work-item .overlay.fadein {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  opacity: 0; }

.work-item:hover .overlay.fadein {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  opacity: 1;
  cursor: pointer; }

/*========================================
	left-to-right animation transition,
	abbreviated ltr
========================================*/
.work-item .overlay.ltr {
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  width: 0; }

.work-item:hover .overlay.ltr {
  -webkit-transition: width 0.5s ease-in;
  -moz-transition: width 0.5s ease-in;
  width: 200px;
  cursor: pointer; }

/*========================================
	top-to-bottom animation transition
	abbreviated ttb
========================================*/
.work-item .overlay.ttb {
  -webkit-transition: height 0.5s ease-in;
  -moz-transition: height 0.5s ease-in;
  height: 0; }

.work-item:hover .overlay.ttb {
  -webkit-transition: height 0.5s ease-in;
  -moz-transition: height 0.5s ease-in;
  height: 200px; }

#works, #featured-works {
  height: 900px;
  max-width: 1024px;
  margin: 0 auto; }

#featured-works {
  margin-bottom: 99px; }

.work {
  height: 202px;
  width: 202px;
  margin-right: 2px;
  margin-bottom: 2px;
  background: #ffa600; }

.work ul {
  display: none; }
