
{% extends "work.html" %}
{% block content %}

	<div class="row page">
	

	
		<ul class="work-slider" data-orbit data-options="timer_speed:0; bullets:false;" class="teamone-orbit">
			<li>
				<img src="{{STATIC_URL}}/img/lexus.jpeg" alt=""/>
				<div class="description">
					<div class="content"></div>
				</div>
			</li>
		
		</ul>
		
		
		<div class="row page">
	
		<div id="study-controls">
		
			<div id="other-slides">
				<div>
					
				
				</div>
			</div><!--end other slides-->

			
			</div><!--end other slides-->
		
			<div class="small-3 columns menu-reveal up">
				
			</div><!--end menu-reveal up -->
				
				
			<div class=" slide-count small-2 columns">
				<p class="subheader italic"><span class="current">1</span>/<span class="total">5</span></p>
			</div><!--end slide-count  -->
			
			
			<div class="small-4 large-4 columns share">
				<div>
					<p>Share</p>
					<div class="arrows-dropdown down"></div>
				</div>
				
			</div><!--end share -->
				
				
			<div class="small-1 columns">
				<div class="slide-controls">
					<div class="slide-control slide-prev orange"></div>
					<div class="slide-control slide-next orange"></div>
				
				</div><!--end slide controlls-->
			
			</div><!--end slide controls-->
			
			
		</div><!--end controlls-->
		
	
	<hr/>
			<div id="content">
				<h1 id="project-title" class="subheader itallic">
					Blah blah blah
				</h1>
				
				<h3 id="project-client" class="subheader">
					Lexus
				</h3>
				
				<p class="project-description">
					Filet mignon shankle corned beef, short ribs ball tip ground round sausage pastrami strip steak t-bone. Sausage bresaola meatloaf, spare ribs frankfurter chuck pork chop pastrami ham hock fatback brisket strip steak short ribs meatball. Rump sirloin venison shankle pork belly andouille corned beef. Spare ribs hamburger frankfurter bresaola brisket ribeye boudin shankle fatback. Tri-tip pancetta cow shankle, ribeye shank t-bone prosciutto. Swine cow pork chop beef short loin corned beef tri-tip biltong frankfurter sirloin. Chicken brisket drumstick shoulder sirloin.
				</p>
				
				<div class="button right">More</div>
			<div style="clear:both;"></div>
			
			
				<!-- start accordion-->
			<div class="section-container" data-section data-options="one_up: false;">
				<section>
				  <p class="title" data-section-title><a href="#panel1">Project Hightlights</a></p>
				  <div class="content" data-section-content>
				    <p>Project Highlights</p>
				  </div>
				</section>
				<section>
				  <p class="title" data-section-title><a href="#panel2">Links</a></p>
				  <div class="content" data-section-content>
				    <p>links</p>
				  </div>
				</section>
				
				<section>
				  <p class="title" data-section-title><a href="#panel2">Awards</a></p>
				  <div class="content" data-section-content>
				    <p>Awards</p>
				  </div>
				</section>
			</div>
				
				<!--end accordion-->
				
			
			<div id="mentions">
				<h2 class="mentions header subheader orange">Mentions</h2>
				
		
					<div id="project-tweets">
						<div class="button small icon-only twitter small-1 columns"></div>
					<div class="large-4 small-11 columns">
						<h2 class="subheader italic">@loremipsum</h2>
						<p class="italic">
						-tip pancetta cow shankle, ribeye shank t-bone prosciutto. Swine cow pork chop beef short loin corned beef tri-tip biltong frankfurter sirloin. Chicken brisket drumstick shoulder sirloin.
						</p>
						
					</div>
					
					</div><!--end project tweets-->
				
			
			</div><!--end mentions-->
			
			<hr/>
			
			<div id="related-work">
				<ul>
					<li class="item"></li>
					<li class="item"></li>
					<li class="item"></li>
					<li class="item"></li>
					<li class="item"></li>
					<li class="item"></li>
					<li class="item"></li>
					
					<li class="item end"></li>
					
				</ul>
				
				
				<div class="button back"> Back</div>
			</div><!--end related-work-->
			</div><!--end content-->
			
	
		</div><!--end row-->


		

{% endblock %}