.item{
	position: relative;
    margin-bottom: 2px;
	
	h3{
		position: absolute;
		z-index: 99;
    	font-size: 60px;
   	 	bottom:0;
	    color:#fff;

	}
	
	img{
		display: inline;
		position: absolute;
	}

	p{
		max-width: 256px;
	}
}


.item.news{
	.leader{
		img{
			max-width: 100%;
		}
	}
}


