/**
	Various SASS vars that can be used
*/
.center-align-text {
  position: absolute;
  text-align: center; }

@media screen and (max-width: 868px) {
  .center-align-text {
    width: 85%; } }
@media screen and (max-width: 700px) {
  .center-align-text {
    width: 70%; } }
.debug {
  border: solid 1px red; }
